<!doctype html>
<html lang="en">
<head>
    {%block head_block %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{% block title %}Sample Flask App{% endblock title %}</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    {% endblock head_block %}
</head>

<body class="body">
    <div class="main-content">
        {% block content %}
        <form class="border border-light p-5">
            <button type="submit" name="action" value="build">Create Compute</button>
            <button type="submit" name="action" value="bucket">Create Storage</button>
        </form>
        {% endblock %}
    </div>

    {% block js_block %}{% endblock js_block %}

</body>
</html>
